html, body {
    background: #f1f1f1;
    font-family: 'Hind Siliguri', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.button-01, .button-02 {
    padding: 5px 5px;
    margin-left: 30px;
    border-radius: 30px;
}

.button-01 {
    border: 1px solid #000;
}

.button-02 {
    border: 1px solid #fff;
    background-color: #006241;
    color: #f1f1f1;
}

.button-02 a {
    color: #f1f1f1;
}

ul, li, p, h1, h2, h3, body, html, figure {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #0c0c0c;
}

header {
    display: flex;
    padding: 25px 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: -5px 5px 10px -10px #2d3748;
}
header .left, header .right {
    display: flex;
    list-style: none;
    align-items: center;
}
header .left {
    text-transform: uppercase;
}
header .right {
    margin-left: auto;
}
header a {
    padding: 5px 15px;
    font-weight: 600;
    margin: 0 5px;
}
header a.sign-in {
    border: 1px solid #000;
    border-radius: 20px;
    margin-left: 50px;
}
header a.join {
    background: #000;
    color: #fff;
    border-radius: 20px;
}
header li:first-child a{
    padding: 10px 0 0 0;
}
.font-white {
    color: #f1f1f1;
}
.green {
    background: #006241;
}
.green-2 {
    background: #cbe678;
}
.pink {
    background: #eb81a5;
}
.purple {
    background: #92cbff;
}
.content-home {
    max-width: 1440px;
    text-align: center;
    margin: auto;
} 
.content-home .note {
    margin: 10px 0;
    padding: 50px 7%;
}
.celeb {
    margin: 30px 0 0;
    display: flex;
}
.celeb .list {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.celeb .list .foto img {
    width: 100%;
    object-fit: cover;
}
.celeb .list .desc {
    padding: 50px;
}
.celeb .list button {
    background: transparent;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 10px 30px;
    margin-top: 20px;
}
.celeb .list button.btn-white {
    border: 1px solid #fff;
    color: white;
    padding: 10px 30px;
}
.celeb h1, .celeb h2 {
    padding: 0 100px;
    line-height: 60px;
}
.celeb p {
    font-size: 20px;
}
.celeb .list .reward {
    height: 590px;
}
.celeb .list .reward.left {
    margin-right: 15px;
}
.celeb .list .reward.right {
    margin-left: 15px;
}
.celeb .list .reward .foto {
    margin-bottom: 10px;
}
.celeb .list .reward p {
    margin-bottom: 10px;
    padding: 2%;
}
.celeb .list .reward a {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 2px 10px;
}

footer {
    border-top: 1px solid #ccc;
    padding: 2%;
}
footer .footer-l2 {
    width: 1350px;
    margin: auto;
}
footer .privacy {
    display: flex;
    list-style: none;
    padding: 10px 0;
}
footer .privacy li {
    border-right: 1px solid black;
    margin-right: 20px;
    padding-right: 20px;
}
footer .privacy li:last-child {
    border: none;
}
footer .sosmed {
    display: flex;
    list-style: none;
    padding: 10px 0;
}
footer .sosmed li {
    margin: 0 10px 0 0;
    font-size: 30px;
}
footer .sitemap {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px;
}
footer .sitemap .list {
    margin-right: 50px;
}
footer .sitemap .list ul li {
    display: block;
}
footer .sitemap .list ul li a {
    display: block;
    padding: 5px 0;
    color: #666;
}
footer .copyrights {
    padding: 10px 0 0;
    color: #666;
}

.container-about {
    width: 720px;
    margin: 0 auto;
}
.container-about figure img {
    width: 100%;
}
.container-about h1, .container-about h2 {
    margin: 20px 0;
    line-height: 60px;
}
.container-about p {
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 33px;
}
.container-about a {
    border: 1px solid rgb(0, 117, 74);
    padding: 5px 15px;
    border-radius: 20px;
    color: rgb(0, 117, 74);
    font-weight: bold;
    transition: 0.5s;
}
.container-about a:hover {
    background: rgba(0, 117, 74, 0.1);
}
.container-about a.solid {
    background: rgba(0, 117, 74, 1);
    color: #fff;
}
.container-about nav {
    margin-bottom: 90px;
}
.container-about .note {
    margin: 0 0 30px 0;
}
.container-about .note p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 25px;
}
#networkstatus.online {
    background: green;
    color: #cbd5e0;
    padding: 20px;
    text-align: center;
}
#networkstatus.offline {
    background: tomato;
    color: cornsilk;
    padding: 20px;
    text-align: center;
}